<ion-header>
  <ion-toolbar>
    <ion-title>Set New Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="setNewPasswordForm" (ngSubmit)="confirmNewPassword()">
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" formControlName="new_password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input type="password" formControlName="re_new_password"></ion-input>
    </ion-item>

    <ion-button type="submit" size="large" expand="full" [disabled]="!setNewPasswordForm.valid">Set New Password</ion-button>
  </form>
</ion-content>
