<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="passwordResetForm" (ngSubmit)="requestPasswordReset()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" size="large" [disabled]="!passwordResetForm.valid">Reset Password</ion-button>
        <ion-button type="button" fill="clear" expand="block" routerLink="/login">Login</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
