<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="translucent">
        <ion-img src="../../assets/icon/truq_logo.png"></ion-img>
        <h1>Hie there!</h1>
        <p>Welcome to TruQ...</p>
        <ion-button (click)="next()" fill="outline" color="translucent">Next</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="translucent">
        <ion-img src="../../assets/icon/truq_logo.png"></ion-img>
        <h1>Next generation logistics !</h1>
        <p>... fast & efficient!</p>
        <ion-button (click)="start()" fill="outline" color="translucent">Start</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>
